/* GENERAL */

body{
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
img{
    max-width: 100%;
    height: auto;
}
ul,ol{
    list-style:none;
}
section{
    padding: 45px 0px 80px 0;
}
section .heading{
    text-align: center;
    padding-bottom: 40px;
}
section .heading h2{
    text-transform: uppercase;
}
.red-divider{
    width: 100px;
    height: 2px;
    /*background: #d82c2e;*/
    background: #A32223;
    margin: 0 auto 20px;

}
.white-divider{
    width: 100px;
    height: 2px;
    background: #fff;
    margin: 0 auto 20px;
}
.center{
    
    margin: auto;
    margin-top: 25px;
}


/* MENU */
.navbar {
    /*background-color: #d82c2e;*/
    background-color: #A32223;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-pills .nav-link{
    color: #fff !important;
    text-align: center;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{
    /*color: #d82c2e !important;*/
    color: #A32223 !important;
    background-color: #fff !important;
}
.navbar-toggler{
    color: #fff !important;
    border-style: none;
}
.navbar-image{
    position: absolute;
    top: 0;
    float: left;
    height: 100%;

}

.nav-item{
    margin-right: 20px;
}

/* ABOUT */
#about{
    padding-top: 50px;
    /*background: #d82c2e;*/
    background: #A32223;
}

.profile-picture{
    text-align: center;
    margin: 0 auto;
    float: none;
    /*border: solid 5px #fff;*/
   
    
    
}

.profile-picture img{
    max-height: 250px;
     
}
#about .heading h1{
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
}
#about .heading h3{
    color: #000;
}

#about .Presentation{
    color: #fff;
    font-size: 18px;
    margin-top: 25px;
}
.button1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top:  20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
    /*background: #d82c2e;*/
    background: #A32223;
    text-align: center;
}
.button1:hover{
    background: white;
    /*
    color: #d82c2e;
    border :1px solid #d82c2e;
    */
    color: #A32223;
    border: 1px solid #A32223;
    text-decoration: none;
}

/* SKILLS */
#skills{
    background: #fff;
}

#skills .heading h2 {
    /*color: #d82c2e;*/
    color: #A32223
}
#skills .competence{
    height: 150px;
    margin: 40px 20px;
    /*border: 2px solid #d82c2e;
    background: #d82c2e;
    */
    border: 2px solid #A32223;
    background: #A32223;
}
#skills .competence img{
    
    height: 150px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    
}

#skills .competence .nameSkill{
    
}

#skills div .row{
    margin-top: 0px;
}

#skills h3{
    /*color: #d82c2e;*/
    color: #A32223;
    margin-top: 50px;
    font-size: 30px;    
}

#skills .competence .nameSkill h5{
    margin-top: 5px;
    font-size: 30px;
    margin: auto;
    /*color: #d82c2e;*/
    color: #A32223;
    text-align: center;
    padding: 5px;
    border-top: 2px solid #fff;
    
}




/* PORTFOLIO */
#portfolio{
    /*background: #d82c2e;*/
    background: #A32223;
}
#portfolio .heading h2{
    color: #fff;
}
#portfolio img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); 
}
#portfolio img:hover{
     filter: none;
    -webkit-filter: none; 
}
#portfolio .col-md-4{
    margin-bottom: 20px;
}


.contenaire{
    height: 100%;
    width: 100%;
}

.clickable{
    position: relative;
    top: 0px;
    left 0px;
    
}
.hidden{
    position: relative;
    top: 0px;
    left: 0px;
    
    
    background: #fff;
    border-radius: 10px;
    height: 500px;
    width: 100%;
    z-index: 1;
}


#portfolio .btn{
    margin-bottom: 10px;
    /*color: #d82c2e;*/
    color: #A32223;
    font-weight: bold;
    /*background-color: #fff;*/
}
#portfolio .btn:hover{
    border: 1px solid #fff;
    /*background-color: #d82c2e;*/
    background-color: #A32223;
    color: #fff;
}
.btnIsClicked{
    background-color: #000;
    color: #fff;
}
.btnIsClicked:hover{
    background-color: #000;
    
}
.btnPF{
    width: 100%;
}
.ButPF{
    margin-bottom: 25px;
}

.PF{
    height: 100%;
    width: 100%;
}
.extand{
    position: sticky;
    background: #fff;
    top: 0px;
    left: 0px;
    width: 90%;
    height: 90%;
    z-index: 2;
}

.alert {
    padding: 20px;
    background-color: #fff; /* Red */
    /*color: #d82c2e;*/
    color: #A32223;
    margin-bottom: 15px;
    position: relative;
    top: -250px;
    margin: 0px;
    
        position: sticky;
    background: #fff;
    top: 0px;
    left: 0px;
    width: 90%;
    height: 90%;
    z-index: 2;
    margin: auto
    
}

/* The close button */
.closebtn {
  margin-left: 15px;
  /*color: #d82c2e;*/
  color: #A32223;  
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: #000;
}
/////////////////////
.modal {
  display: none; /* Hidden by default */
  position: relative; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 95%;
    height: 95%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*         */
div .modal-content{
    height: 95%;
    width: 95%;
}

.modal-dialog{
    max-width: 95%;
    max-height: 95%;
}
.modal-content{
    height: 95%;
    width: 95%;
}
.btn-light{
    padding: 0px;
    
}

.imgModal{
    height: 300px;
}
p .modalTxt{
    font-size: 10px;
}

.modal-body .button1{
    margin-left: 10%;
}

.modal-body p{
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    margin: auto;
}

/*Contact Me*/
#contactme{
    padding-bottom: 45px;
}

#contactme .heading h2{
    /*color: #d82c2e;*/
    color: #A32223;
}

#contact-form
{
    font-size: 20px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    
}
/*---  NEW  ------*/
.blue
{
    /*color: #d82c2e;*/
    color: #A32223;
}
.form-control
{
    height: 50px;
    font-size: 18px;
    /*border: 1px solid #d82c2e;*/
    border: 1px solid #A32223;
    
}
#contact-form input[type=submit]
{
    margin: 40px auto 0px;
    display: block;
}

.comments
{
    font-style: italic;
    font-size: 18px;
    /*color: #d82c2e;*/
    color: #A32223;
    height: 25px
}
#contact-form .thank-you
{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}
.button2
{
    border: 1px solid #ddd;
    /*background: #d82c2e;*/
    background: #A32223;
    color: #fff;
    width: 100%;        
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}
.button2:hover
{
    background: #fff;
    /*
    border-color: #d82c2e;
    color: #d82c2e;
    */
    border-color: #A32223;
    color: #A32223;
}



/* FOOTER */
footer{
    background: #333;
    padding: 20px 0 40px;
}
footer .fas{
    font-size:  25px;
    margin: 20px;
    /*color: #d82c2e;*/
    color: #A32223;
    height: 30px;
}
footer .fas:hover{
    font-size:  27px;
}
footer h5{
    color: #fff;
    font-weight: normal;
}

/* Modal */



/* SnakePage */
#SnakeSection {
    height: 0px;
}
#GoBackToPortfolio{
    position: absolute;
    top: 83%;
    height: 100px;
    margin-top: 25px;
}

#GoBackToPortfolio .button1{
    margin: 0px;
}

#GoBackToPortfolio div .heading{
    margin: 0px;
}